@page
@model Top20CrimeAreaModel
@{
  ViewData["Title"] = "Top 20 Areas By Year";
}

<h2>Top 20 Areas By Year</h2>  

<br />
Your search string: "@Model.Input"
<br />
# of crimes found in year: @Model.NumAreas
<br />
<br />
@{
   if (@Model.EX != null)
	 {
		 <h3>**ERROR: @Model.EX.Message</h3>
		 <br />
		 <hr />
		 <br />
		 <br />
	 }
}

<table class="table">  
    <thead>  
        <tr>   
            <th>  
                Area
            </th>  
			<th>  
                AreaName
            </th>  
		    <th>  
                Year 
            </th>  
             
            <th>  
                Num Crimes
            </th> 
            
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var item in Model.CrimeList)  
        {  
            <tr>  
                <td>  
					@item.Area
                </td>  
                <td>  
                    @item.AreaName
                </td> 
								<td>  
                    @item.Year
                </td> 
								
                <td>  
                    @item.NumOccured
                </td> 
                
            </tr>  
        }  
    </tbody>  
</table> 

